/* style.css */
body {
    background-color: #282c34;
    color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.clock-container {
    background: #1a50ce;
    padding: 40px 40px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#clock {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 5px;
}